<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kongzi">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name="WeKorrektor" android:theme="@style/AppTheme" android:icon="@drawable/zhengming_logo">

        <activity android:name=".viewmodel.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="WeKorrektor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".viewmodel.SettingsActivity" android:label="Settings"
            android:parentActivityName=".viewmodel.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewmodel.MainActivity"/>
        </activity>

    </application>

</manifest>
